.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.title {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.chatButton {
  color: white;
  display: flex;
  font-size: 1.2em;
  border-radius: 32px;
  border-color: # 3182ce;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4299e1;
  cursor: pointer;
  width: 200px;
  height: 60px;
  padding: 20px;
  transition: transform 0.1s ease, background 0.2s ease;
  font-weight: 500;
}

.chatButton:hover {
  background: #3182ce;
}

.chatButton:active {
  transform: scale(0.98);
}